.canucks {
	color: #14895D;
}
.habs {
	color: #AA192F;
}
.golden-knights {
	color: #8A734E;
}
.red-wings {
	color: #C91132;
}
.sabres {
	color: #062246;
}
.panthers {
	color: #B7955F;
}
.bruins {
	color: #FAB82C;
}
.leafs {
	color: #103369;
}
.scrollyteller .step p > span {
	font-weight: 600;
}

.scrollyteller .step {
	background: rgba(255,255,255,0.9);
	border-radius: 3px;
	box-shadow: 0 0 1px var(--darkgrey);
	margin: 100vh auto 0 auto;
	max-width: 275px;
	padding: 5px 7px;
}
.scrollyteller .step:first-of-type {
	margin-top: 50%;
}
.scrollyteller .step:last-of-type {
	/*margin-bottom: 110%;*/
}
.step .headline {
	font-weight: 800;
	margin-top: 0.25rem;
	text-transform: uppercase;
}

@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
    .scrollyteller .step {
		margin: 80vh auto 0 auto;
		max-width: 300px;
	}
}
