.scrollyteller .step {
	background: rgba(255,255,255,0.9);
	border-radius: 3px;
	box-shadow: 0 0 1px var(--darkgrey);
	height: 50%;
	margin: 100% auto 0 auto;
	max-width: 400px;
	padding: 4px 3px;
}
.scrollyteller .step:first-of-type {
	margin-top: 50%;
}
.scrollyteller .step:last-of-type {
	margin-bottom: 110%;
}
.step {
	
}